*{margin: 0;
padding: 0;}
.banner{background-image: url('../Images/Banner Image.png');
background-size:cover;
background-position: center;
width: 600px;
height:300px;
margin:auto;}

.banner-text{color:white;
padding:50px 100px;
text-align: center;
}
.main-head{color:#FF0000;
text-align: center;
margin-top: 20px;}
.deals{color:#FF0000;
text-align: center;
margin-top: 15px;}
.categories{text-align: center;
margin-top: 15px;}
.center-image {
    display: block;
    margin: 0 auto; 
}